.container {
    display: flex;
    flex-direction: column;
    font-size: 8rem;
    overflow: hidden;
}

.list-container {
    margin-bottom: 10rem;
    overflow: hidden;
    display: flex;
}

.list {
    display: flex;
}

.item {
    // margin: 0 10rem;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 25s linear infinite;
}

.marquee2 {
    // animation-delay: 7.5s;
}

@keyframes marquee {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
