$font-size-primary: 4rem;
$font-size-secondary: 3rem;
$font-size-under-PC: 3rem;
$font-size-author: 1.5rem;
$font-size-button: 1.5rem;
$font-size-button-under-PC: 1.3rem;
$font-color-primary: #333;
$font-family-primary: 'Atkinson Hyperlegible';

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.quote-container {
    width: auto;
    max-width: 80rem;
    width: 80%;
    padding: 4rem 3rem 3rem;
    box-shadow: 0px 10px 10px 10px rgba(100, 100, 111, 0.2);
    background-color: #fffbf9;
    border-radius: 10px;
    margin: auto 1rem;
    min-width: 15rem;
    display: flex;
    flex-direction: column;

    button {
        cursor: pointer;
        font-size: $font-size-button;
        border: none;
        border-radius: 1rem;
        color: #ffffff;
        background-color: $font-color-primary;
        outline: none;
        padding: 1.1rem 2rem;
        box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 5px 0px;
        transition: all 0.2s linear;

        &:hover {
            filter: brightness(130%);
        }

        &:active {
            transform: translateY(0.5rem);
            box-shadow: 0 0.1rem rgba(255, 255, 255, 0.9);
        }
    }
}
.quote-text {
    font-size: $font-size-primary;
}
.long-text {
    font-size: $font-size-secondary;
}
.fa-quote-left {
    font-size: 4rem;
    margin: 1rem 1rem 0 0;
    position: relative;
    top: 0.8rem;
}
.quote-author {
    margin-top: 1.5rem;
    font-size: $font-size-author;
    font-style: italic;
}

.button-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.twitter-button:hover {
    color: rgb(82, 126, 223);
}
.fa-twitter {
    font-size: 1.5rem;
}

// Loader
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $font-color-primary;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1023px) {
    .quote-container {
        margin: auto 1.5rem;
        width: 100%;
    }

    .quote-text {
        font-size: $font-size-under-PC;
    }

    .quote-container button {
        font-size: $font-size-button-under-PC;
    }
}
