.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .home__title {
        margin-bottom: 2rem;
        font-size: 9rem;
    }
}

// .toggle-container {
// }
