.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .home__title {
        margin-bottom: 2rem;
        font-size: 9rem;
    }

    .home__body {
        font-size: 2.5rem;
        width: 40%;
        font-weight: 100;
        text-align: justify;
        margin-top: 3rem;
        line-height: 1.3;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 1025px) {
    .section-container {
        .home__body {
            width: 70%;
        }
    }
}

@media screen and (max-width: 767px) {
    .section-container {
        .home__body {
            width: 90%;
        }
    }
}

// .toggle-container {
// }
