.container {
    padding: 10rem;

    h1 {
        font-size: 7rem;
        margin-bottom: 7rem;
    }
}

.add-container {
    // box-shadow: var(--box-shadow-color) 0 5px 20px 0;
    padding: 5rem;
    border-radius: 2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-self: center;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
}

.add-row {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    // border-bottom: 1px solid var(--primary-color);
    flex-direction: row-reverse;

    span {
        font-size: 1.8rem;
        font-weight: 500;
        display: block;
        width: 30rem;
        text-align: left;
        margin-left: 2rem;
    }
}

// .add-content_left {
// }
.add-content_right {
    margin-left: 17rem;
}

.add-theme_form {
    margin-bottom: 10rem;
    text-align: left;

    .add-theme-form-row {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    span {
        font-size: 1.4rem;
        width: 35%;
        display: block;
    }

    input {
        border: none;
        border-bottom: 1px solid var(--primary-color);
        padding: 1rem 0;
        outline: none;
        font-size: 1.7rem;
        width: 50%;
        background-color: var(--background-color);
        color: var(--primary-color);
    }
}

.themes-detail {
    padding: 10rem;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 6rem;
    }
}

@media screen and (max-width: 1279px) {
    .container {
        padding: 10rem 3rem;
    }
    .add-content_right {
        margin-left: 10rem;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        h1 {
            margin-bottom: 4rem;
        }
    }

    .add-container {
        padding-top: 3rem;

        h2 {
            margin-bottom: 8rem;
        }
    }

    .add-content {
        flex-direction: column;
    }

    .add-content_right {
        margin-top: 5rem;
        margin-left: 0rem;
        align-items: center;
        justify-content: center;
    }

    .add-theme_form {
        margin-left: 2rem;
    }
}
@media screen and (max-width: 767px) {
    .container {
        padding: 0;
    }

    .add-container {
        padding: 3rem 2rem;
    }

    .add-content_left {
        width: 100%;
    }
}
