.footer {
    background: var(--primary-color);
    color: var(--background-color);
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 10;

    .footer-container {
        // transform: var(--translateY-footer);
        padding: 15rem;
        padding-top: 20rem;
    }

    .content {
        h2 {
            font-size: 8rem;
            font-weight: 300;
            line-height: 1.5;
            max-width: 66%;
        }
    }

    .contact {
        position: absolute;
        bottom: 0;
        left: 0;

        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        font-size: 2rem;
        padding: 0 15rem;
    }
}
