.container {
    display: flex;
    flex-direction: var(--container-direction);

    width: var(--container-width);
    margin: 0 auto;
    padding: var(--container-padding);
    margin: var(--container-margin);

    gap: var(--flex-gap);
}

.image {
    width: var(--media-width);
}

.content-container {
    width: var(--content-width);
    position: relative;
}

.content-position {
}
