.nav__container {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2.5rem 6rem;
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__list--item {
    margin-left: 6rem;

    a {
        &:hover {
            color: var(--hover-color);
        }
    }
}

@media screen and (max-width: 1023px) {
    .nav__container {
        padding: 2.5rem 4rem;
    }

    .nav__list--item {
        margin-left: 4rem;
    }
}
