.nav__container {
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 3rem 6rem;

    position: var(--nav-position);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 6px 50px 0px;

    background: var(--nav-background);
    z-index: 999;
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__logo {
    font-size: var(--logo-font-size);
    font-weight: var(--logo-font-weight);
    color: var(--logo-color);
}

.nav__list--item {
    margin-left: 6rem;
    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-weight);
    color: var(--nav-color);

    a {
        &:hover {
            color: var(--nav-hover-color);
        }
    }
}

@media screen and (max-width: 1023px) {
    .nav__container {
        padding: 2.5rem 4rem;
    }

    .nav__list--item {
        margin-left: 4rem;
    }
}
