.nav__container {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem;
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__list--item {
    margin: 0 2rem;
}
