.body-container {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ceecf1, #f1e6d8);
    flex-direction: column;

    .title {
        position: absolute;
        top: 20px;
        left: 40px;
        font-size: 1.8rem;
    }

    .video {
        border: 1px solid #eee;
        box-shadow: 0 8px 25px 5px rgba(0, 0, 0, 0.1);
        border-radius: 1.5rem;
        background: rgb(241, 238, 236);
    }

    .button-container {
        padding: 1rem;
        border-radius: 0.7rem;
        box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: space-between;

        button {
            cursor: pointer;
            outline: none;
            padding: 2rem 2.5rem;
            font-size: 1.3rem;
            letter-spacing: 4px;
            text-transform: uppercase;
            color: rgb(55, 55, 78);
            background: linear-gradient(to top, #e3a8fa, #44d4f8);
            border: black;
            border-radius: 1rem;
            box-shadow: 0 8px 15px 0px rgba(0, 0, 0, 0.2);
            transition: all 0.3s linear;
            margin: 6rem 4rem 0;

            &:hover {
                background: linear-gradient(to top, #99b1f5, #fa6dbb);
                color: rgb(255, 237, 198);
            }

            &:active {
                transform: translateY(10px);
                box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
            }
        }

        .btn-stream {
            background: linear-gradient(to top, #f7f0b5, #44d4f8);
        }
    }
}
