.main-body {
    // transition: all 0.3s ease;
}
.section-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    background: var(--background);
    text-align: center;
    flex-direction: column;
    color: var(--primary-color);
}
