.main-body {
    transition: all 0.2s ease;
}
.section-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    background: var(--background);
    text-align: center p {
        font-size: 10rem;
        color: var(--primary-color);
    }
}
