.main-body {
    transition: all 0.3s ease;
}
.section-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    background: var(--background-color);
    text-align: center;
    flex-direction: column;
    color: var(--primary-color);
    width: 100vw;
}

.content-confirm-model p:first-of-type {
    font-weight: 500;
    margin-top: 1rem;
}

.content-confirm-model p:last-of-type {
    margin-top: 2rem;
    font-style: italic;
    font-size: 1.7rem;
}
