.main-body {
    transition: all 0.3s ease;
}
.section-container {
    min-height: 100vh;
    scroll-margin-top: 2rem;
    // border: 1px solid #eee;
    background: var(--background-color);
    text-align: center;
    color: var(--primary-color);
    // width: 140%;
}

.content-confirm-model p:first-of-type {
    font-weight: 500;
    margin-top: 1rem;
}

.content-confirm-model p:last-of-type {
    margin-top: 2rem;
    font-style: italic;
    font-size: 1.7rem;
}
