$font-size-primary: 4rem;
$font-size-secondary: 3rem;
$font-size-under-PC: 3rem;
$font-size-author: 1.5rem;
$font-size-button: 1.5rem;
$font-size-button-under-PC: 1.3rem;
$font-color-primary: #333;
$font-family-primary: 'Atkinson Hyperlegible';

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.body {
    margin: 0;
    min-height: 100vh;
    background-color: #ffffff;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%236494d4' fill-opacity='0.15'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: $font-color-primary;
    font-family: $font-family-primary, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
