.container {
    // border: 1px solid var(--primary-color);
    padding-right: 0;
    border-radius: 15px;
    box-shadow: var(--box-shadow-color) 0px 7px 29px 0px;
    background: var(--background-color);

    display: grid;
    grid-template-columns: 15rem repeat(8, 1fr) 20rem 10rem;
    align-items: center;

    p {
        margin: 0.8rem;
        font-weight: bold;
    }

    .name-desc {
    }

    .primary-color {
        font-size: 2.5rem;
        color: var(--primary-color);
    }

    .secondary-color {
        font-size: 1.4rem;
        color: var(--secondary-color);
    }

    .color-detail {
        font-size: 1.5rem;

        p {
            color: var(--primary-color);
        }
        .link {
            // text-decoration: underline;
            // margin: 5rem;
            cursor: pointer;
            color: var(--link-color);
        }
    }

    button {
        padding: 1.5rem 1.8rem;
        margin: 1rem 2rem;
        border-radius: 2rem;
        cursor: pointer;
        outline: none;
    }

    .primary-button {
        background: var(--primary-button-bg-color);
        color: var(--primary-button-color);
        border: 1px solid var(--primary-button-bg-color);

        &:hover {
            // color:  var(--primary-button-bg-color);
            // background: var(--primary-button-color);
            box-shadow: var(--box-shadow-color) 0px 7px 29px 0px;
        }
    }

    .secondary-button {
        background: var(--secondary-button-bg-color);
        color: var(--secondary-button-color);
        border: 1px solid var(--secondary-button-color);

        &:hover {
            // color: var(--secondary-button-bg-color);
            // background: var(--secondary-button-color);
            box-shadow: var(--box-shadow-color) 0px 7px 29px 0px;
        }
    }
}
