.container {
    padding: 10rem;

    h1 {
        font-size: 7rem;
        margin-bottom: 7rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
    }
}

@media screen and (max-width: 1023px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
}
