.container {
    // border: 1px solid var(--primary-color);
    padding: 3rem;
    border-radius: 15px;
    box-shadow: var(--box-shadow-color) 0px 7px 29px 0px;
    background: var(--background-color);

    p {
        margin: 0.8rem;
        font-weight: bold;
    }

    .primary-color {
        font-size: 2.5rem;
        color: var(--primary-color);
    }

    .secondary-color {
        font-size: 1.4rem;
        color: #ddd; //var(--secondary-color);
    }

    .link {
        font-size: 1.5rem;
        text-decoration: underline;
        margin: 5rem;
        cursor: pointer;
        color: var(--link-color);
    }

    button {
        padding: 1.3rem 1.5rem;
        margin: 1rem 2rem;
        border-radius: 1.5rem;
    }

    .primary-button {
        background: var(--primary-button-bg-color);
        color: var(--primary-button-color);
        // border: none;
    }

    .secondary-button {
        background: var(--secondary-button-bg-color);
        color: var(--secondary-button-color);
        // border: none;
    }
}
