.container {
    border: 1px solid var(--primary-color);

    p {
        margin: 1rem;
        font-weight: bold;
    }

    .primary-color {
        font-size: 2.5rem;
    }

    .secondary-color {
        font-size: 1.8rem;
    }
}
