.section {
    min-height: 100vh;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: 300;
    max-width: 90rem;
}

@media screen and (min-width: 768px) {
    .home {
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 1024px) {
}
