.toggle-container {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 5rem;
    font-weight: bold;
    color: var(--toggle-selector-color);
}

.toggle-checkbox {
    height: auto;
    margin: 0rem 3rem 2rem;

    input[type='checkbox'] {
        visibility: hidden;
        &:checked + label {
            // transform: rotate(360deg);
            background-color: var(--toggle-selector-color);
            &:before {
                transform: translateX(30px);
                background-color: var(--toggle-selector-color);
            }
        }
    }

    label {
        display: flex;
        width: 72px;
        height: 37px;
        border: 6px solid;
        border-radius: 99em;
        position: relative;
        transition: transform 0.75s ease-in-out;
        transform-origin: 50% 50%;
        cursor: pointer;

        &:before {
            transition: transform 0.75s ease;
            transition-delay: 0.5s;
            content: '';
            display: block;
            position: absolute;
            width: 18px;
            height: 18px;
            background-color: var(--toggle-selector-bg-color);
            border-radius: 50%;
            top: 4px;
            left: 6px;
        }
    }
}
